@using ContactsComponent
@inherits DisplayContactBase


<div class="col span-1-of-4" style="min-width: 18rem; max-width:30.5%;">
    <div class=" card-header">
        <h3>
            <input type="checkbox" @onchange="CheckBoxChanged"/>
            @Contact.FirstName @Contact.LastName
            </h3>
    </div>
    <img class="card-img-top imageThumbnail" src="@Contact.PhotoPath" />

    @if (ShowFooter)
    {
        <div class="card-footer text-center">
            <a href="@($"/contactdetails/{Contact.ContactId}")" class=" btn btn-primary m-1">View</a>

            <a href="@($" editcontact/{Contact.ContactId}")" 
            class=" btn btn-primary" m-1>Edit</a>

            <button type="button" class="btn btn-danger m-1"
                   @onclick="Delete_Click">
                Delete
            </button>
        </div>
    }
</div>
<ConfirmDeletion ConfirmationChanged="ConfirmDelete_Click" ConfirmationMessage=@($"Are you sure you want to delete {Contact.FirstName}") @ref="DeleteConfirmation" />